& {
    display: flex;
    flex-direction: column;

    height: 100%;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8em;

    div {
        box-sizing: border-box;
    }
}

.navbar {
    display: flex;
    height: 30px;
    min-height: 30px;
    margin-bottom: 8px;
    background-color: #000;

    a {
        display: flex;
        align-items: center;

        color: #fff;
        font-weight: bold;
        text-decoration: none;
        height: 100%;
        padding: 0 10px;

        &:visited {
            color: #fff;
        }

        &.active {
            background-color: #333;
        }
    }
}

& > div:not(.navbar) {
    flex: 1;
}
