{{#if auth.accessToken}}
    <div class="navbar">
        {{#link-to "calendar"}}
            Calendar
        {{/link-to}}

        {{#link-to "email"}}
            Inbox
        {{/link-to}}
    </div>

    {{yield}}
{{else}}
    <button {{action "startAuth"}}>
        Login
    </button>
{{/if}}
