@import "pod-styles";

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    > div {
        height: 100%;
    }
}

.action-button {
    padding: 4px 8px;
    height: 25px;
    border: 1px solid #777;
    border-radius: 4px;
    color: #000;
    background-color: #fff;
    text-decoration: none;

    &:visited {
        color: #000;
    }
}
