& {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.new-message {
    padding: 8px;
    margin-bottom: 4px;
}

.message-container {
    flex: 1;
    height: 100%;
    overflow: auto;

    .message {
        display: block;
        height: 80px;
        padding: 0 8px;
        overflow: hidden;

        color: #000;
        text-decoration: none;

        border-bottom: 1px solid #ccc;

        &:visited {
            color: #000;
        }

        &.active {
            background-color: #d3e4ff;
        }

        .sender {
            font-weight: bold;
            font-size: 1.1em;
        }

        .preview {
            color: #444;
        }
    }
}
