<div class="new-message">
    {{#link-to "email.compose" class="action-button"}}
        Compose
    {{/link-to}}
</div>

<div class="message-container">
    {{#each messages as |message|}}
        {{#link-to "email.message" message.id class="message"}}
            <div class="sender">
                {{message.senderName}}
            </div>
            <div class="subject">
                {{message.subject}}
            </div>
            <div class="preview">
                {{message.bodyPreview}}
            </div>
        {{/link-to}}
    {{/each}}
</div>
