& {
    display: flex;
    padding: 10px;
}

.full-calendar {
    flex: 1;

    .fc-day-header {
        font-weight: 400;
    }

    .fc-event-container {
        &:hover {
            cursor: pointer;
        }
    }
}


.current-event {
    width: 200px;
    padding: 4px;
    padding-left: 10px;

    .subject-title {
        font-weight: 600;
        font-size: 1.2em;
        margin-bottom: 6px;
    }

    .title {
        font-weight: 600;

        margin-bottom: 2px;
    }

    .attendees {
        margin-bottom: 8px;
    }

    .times {
        margin-bottom: 12px;
    }
}
