{{#if loading}}
    Loading Calendar...
{{else}}
    {{full-calendar events=events eventClick=(action 'clicked')}}
    {{#if currentEvent}}
        <div class="current-event">
            <div class="subject-title">
                {{currentEvent.subject}}
            </div>

            <div class="attendees">
                <div class="title">
                    Attendees
                </div>
                {{#each currentEvent.truncatedAttendees as |attendee|}}
                    <div class="attendee">
                        {{attendee.emailAddress.name}}
                    </div>
                {{else}}
                    <div class="attendee">
                        None
                    </div>
                {{/each}}
                {{#if currentEvent.extraAttendees}}
                    <div class="more">
                        +{{currentEvent.extraAttendees}} more
                    </div>
                {{/if}}
            </div>

            {{#unless currentEvent.isAllDay}}
                <div class="title">
                    Meeting times
                </div>
                <div class="times">
                    Starts at: {{currentEvent.startTimeString}}<br>
                    Ends at: {{currentEvent.endTimeString}}
                </div>
            {{/unless}}

            <div class="actions">
                <button {{action "joinMeeting" currentEvent}}>
                    Join Meeting Room
                </button>
            </div>
        </div>
    {{/if}}
{{/if}}
