.entry {
    margin-bottom: 4px;

    input, textarea {
        width: 300px;
        height: 22px;
        padding: 4px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;

        font-size: 14px;
    }

    textarea {
        height: 200px;
        width: 375px !important;
        resize: none;
    }
}
