<div class="to entry">
    <input value="{{email}}"
        placeholder="To: email@example.com"
        oninput={{action "set" "email" on="input"}} />
</div>

<div class="subject entry">
    <input value="{{subject}}"
        placeholder="Subject: Example"
        oninput={{action "set" "subject" on="input"}} />
</div>

<div class="message entry">
    <textarea value="{{message}}"
        placeholder="Message..."
        oninput={{action "set" "message" on="input"}}></textarea>
</div>

<div class="controls">
    <button class="action-button" {{action "sendMessage"}}>
        Send
    </button>
</div>
