.message-info {
    padding: 8px 8px 16px 8px;
    margin-bottom: 8px;

    background-color: #d3e4ff;
    border-bottom: 1px solid darken(#d3e4ff, 10%);
}

.subject {
    font-size: 18px;
    font-weight: bold;
}
