<div class="actions">
    <button class="action-button" {{action "reply" message}}>
        Reply
    </button>
</div>


<div class="message-info">
    <div class="subject">
        {{message.subject}}
    </div>

    <div class="from">
        From: {{message.senderName}} &lt;{{message.senderEmail}}&gt;
    </div>

    {{#if message.recipientsText}}
        <div class="to">
            To: {{message.recipientsText}}
        </div>
    {{/if}}
</div>

<div class="message-body">
    {{{message.body.content}}}
</div>
